* {
  text-align: center;
}

.main-title{
  color: #FFFFFF;
  margin-top: 1.5em;
  font-family: 'Jacques Francois', serif;
  font-weight: 300;
  font-size: 2.5em;
}

.select-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
